<!-- This "template" tag will populate the page with whatever we have deinfed as "base". Currently
it is deinfed in the base.layout.tmpl file -->
{{template "base" .}}

<!-- We have a BLOCK called "content" on the same page that we defined our current template -->
<!-- Whatever we put within the DEFINED "content" block will be incorperated into this page
wherver the content BLOCK is used-->
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> This is the home page</h1>
                <p>This is some text</p>
            </div>
        </div>
    </div>
{{end}}